/* Code to remove all element default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'NTR', sans-serif;
    font-size: 20px;
}

button,
button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
}

button {
    -webkit-tap-highlight-color: transparent;
    border: 0px solid transparent;
}

button:active,
button:focus
.submit-button,
input:focus, textarea:focus, select:focus {
    outline: none;
}
  
button:active,
.wrapper-for-each-form-section input,
.wrapper-for-each-form-section textarea,
.submit-button {
    border: none;
}

/* All Devices */

nav {
    width: 100%;
    height: 3rem;
    background: #c0b3bc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.5rem;
    letter-spacing: 4px;
    font-weight: 400;
}

nav h1{
    position: relative;
    right: 2%;
    color: white;
}

.search-bar {
    font-size: 0.75rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
    letter-spacing: 1px;
}

.search-bar .container {
    height: 100%;
    width: 75%;
    border-bottom: 2px solid #d6d6d6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-bar .container .input-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-bar .container .input-container input {
    font-size: 1.5rem;
    border: none;
    width: 70%;
}

.search-bar .container .input-container button {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #adadad;
    cursor: pointer;
}

.weather-information {
    height: 20rem;
    width: 100%;
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-information .detail-container {
    height: 100%;
    width: 75%;
    border-radius: 1rem;
    background: #f6f5fa;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 100%;
    z-index: 0;
}

.weather-information .detail-container .default-photo {
    height: 50%;
}

.weather-information .success-container {
    height: 100%;
    width: 75%;
    border-radius: 1rem;
    background: #f6f5fa;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    position: absolute;
    z-index: 0;
}

.weather-information .success-container .inner-container {
    height: 85%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-information .success-container .inner-container .image-container {
    display: flex;
    width: 100%;
    height: 35%;
    align-items: center;
    justify-content: center;
}

.weather-information .success-container .inner-container .image-container img {
    height: 100%;
    opacity: 0%;
}

.weather-information .success-container .inner-container .weather-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 65%;
}

.weather-information .success-container .inner-container .weather-details header {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.weather-information .success-container .inner-container .weather-details p:nth-child(2),
.weather-information .success-container .inner-container .weather-details p:nth-child(3) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.weather-information .success-container .inner-container .weather-details .smaller-line-height {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}

.weather-information .error-container {
    height: 100%;
    width: 75%;
    border-radius: 1rem;
    background: #f6f5fa;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    position: absolute;
    z-index: 0;
}

.weather-information .error-container .inner-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-information .error-container .inner-container h2 {
    font-size: 4rem;
    opacity: 20%;
    line-height: 4rem;
}

.weather-information .error-container .inner-container p:nth-child(2) {
    font-size: 2rem;
    line-height: 2rem;
}

.weather-information .error-container .inner-container p:not(:nth-child(2)) {
    line-height: 1rem;
}

.weather-information .error-container .inner-container .reset {
    opacity: 40%;
}

footer {
    position: relative;
    top: 65px;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
}

footer p {
    letter-spacing: 2px;
    position: relative;
    left: 7.5%;
    color: #4b464a;
}

footer div {
    height: 1px;
    width: 60%;
    background: #c0b3bc;
}

.reset {
    cursor: pointer;
}

/* landscape mobile */
@media only screen
    and (orientation: landscape) {
    .search-bar .container .input-container button {
        justify-content: flex-end;
    }

    .weather-information .success-container .inner-container {
        flex-direction: row;
    }

    .weather-information .success-container .inner-container .image-container {
        height: 45%;
    }

    .weather-information .success-container .inner-container .weather-details {
        align-items: center;
    }

    footer div {
        width: 75%;
    }
}

@media only screen
    and (min-device-width: 768px)
    and (min-device-height : 1024px)
    and (orientation: portrait) {

    .weather-information {
        height: 45rem;
    }

    .weather-information .success-container .inner-container .weather-details header {
        font-size: 7.5rem;
        line-height: 7.5rem;
    }

    .weather-information .success-container .inner-container .weather-details p:nth-child(2), .weather-information .success-container .inner-container .weather-details p:nth-child(3) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .weather-information .success-container .inner-container .weather-details .smaller-line-height {
        font-size: 2rem;
        line-height: 2rem;
    }

    .weather-information .error-container .inner-container h2 {
        font-size: 10rem;
        line-height: 10rem;
    }

    .weather-information .error-container .inner-container p:nth-child(2) {
        font-size: 5rem;
        line-height: 5rem;
    }

    .weather-information .error-container .inner-container p:not(:nth-child(2)) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media only screen
    and (min-device-width: 1024px)
    and (min-device-height : 768px)
    and (orientation: landscape) {

    .weather-information {
        height: 25rem;
    }

    .weather-information .success-container .inner-container .weather-details header {
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    .weather-information .success-container .inner-container .weather-details p:nth-child(2), .weather-information .success-container .inner-container .weather-details p:nth-child(3) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .weather-information .success-container .inner-container .weather-details .smaller-line-height {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media screen 
    and (min-device-width: 1200px) {

    nav {
        height: 9vh;
    }

    nav h1 {
        font-size: 2vh;
        letter-spacing: 0.75vh;
    }
    
    .search-bar {
        height: 15vh;
        font-size: 2.25vh;
        top: 4vh;
    }

    .search-bar .container {
        border-bottom: 0.4vh solid #d6d6d6;
        letter-spacing: 0.2vh;
    }

    .search-bar .container .input-container {
        justify-content: space-between;
    }

    .search-bar .container .input-container input {
        font-size: 4.5vh;
    }

    .search-bar .container .input-container button {
        font-size: 3vh;
        width: 5%;
    }

    .weather-information {
        top: 10vh;
        height: 70vh;
    }

    .weather-information .detail-container,
    .weather-information .success-container,
    .weather-information .error-container {
        border-radius: 3.5vh;
    }

    .weather-information .success-container .inner-container .weather-details header {
        font-size: 15vh;
        line-height: 15vh;
    }

    .weather-information .success-container .inner-container .weather-details p:nth-child(2), 
    .weather-information .success-container .inner-container .weather-details p:nth-child(3),
    .weather-information .success-container .inner-container .weather-details .smaller-line-height {
        font-size: 4vh;
        line-height: 4vh;
    }

    .weather-information .error-container .inner-container h2 {
        font-size: 15vh;
        line-height: 15vh;
    }

    .weather-information .error-container .inner-container p:nth-child(2) {
        font-size: 5vh;
        line-height: 5vh;
    }

    .weather-information .error-container .inner-container p:not(:nth-child(2)) {
        font-size: 4vh;
        line-height: 4vh;
    }

    .weather-information .error-container .inner-container .reset {
        width: 25%;
    }

    footer {
        top: 10vh;
        height: 5vh;
        font-size: 2.5vh;
    }

    footer p {
        letter-spacing: 0.2vh;
    }

    footer div {
        width: 80%;
        height: 0.1vh;
    }
}